<h2><%= @cocktail.name %></h2>

<% if @cocktail.photo.attached? %>
  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "edit cocktail", edit_cocktail_path(@cocktail), class: "btn btn-success" %>

<% @cocktail.doses.each do |dose| %>
  <ul>
    <li>
      <%= dose.description %> : <%= dose.ingredient.name %>
      <%= link_to "delete dose", dose_path(dose),
        data: { method: :delete, confirm: "are you sure ? !" } %>
    </li>
  </ul>
<% end %>
<%= link_to "new dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>



<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "add the description", class: "btn btn-primary" %>
<% end %>

<%= link_to "index", root_path, class: "btn btn-primary" %>
